* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('../Images/background.jpg');
    background-size: cover;
}

.container {
    border: 1px solid #fff;
    margin-top: 5%;
    text-align: center;
    background: rgba(8, 32, 62, 0.9);
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 350px;
}

.content h1 {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: "Pacifico", "Times New Roman", serif;
    color: #fff;
    margin-bottom: 20px;
}

.content p {
    font-size: 1.2rem;
    font-weight: bold;
    font-style: oblique;
    font-family: "Caveat",cursive;
    color: #fff;
    margin-bottom: 20px;
}
.user{
    font-size: 1.1rem;
    font-weight: bold;
    font-style: oblique;
    font-family: "Caveat",cursive;
    color: #fff;
    margin-bottom: 20px;
}

.login-button {
    background: #08203e;
    color: #fff;
    border: none;
    padding: 15px 30px;
    margin: 20px;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 10px;
    border: solid 1px #557c93;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.login-button:hover {
    color: #08203e;
    background-color: #fff;
    transform: scale(1.05);
}

.login-button:active {
    background-color: #4a00e0;
    transform: scale(1);
}
a{
    color: rgb(43, 84, 217);
}
a :hover{
    color: #371ce8;
    transform: scale(1.05);
    text-decoration: underline;
}
/* Team Section Styling */
.team-section {
    margin-top: 40px;
    text-align: center;
}

.team-section h2 {
    font-size: 2rem;
    color: white;
    margin-bottom: 20px;
}

.team-row {
    display: flex;
    overflow-x: auto;
    padding: 20px;
    gap: 20px;
}

.team-member {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 150px;
    flex-shrink: 0;
}

.team-member img {
    width: 100%;
    border-radius: 10px;
}

.team-member p {
    margin-top: 10px;
    font-size: 1rem;
    color: #333;
}
.members-info {
    background-color: #4324f1;
    color: rgb(160, 222, 231);
    border: none;
    padding: 15px 30px;
    margin: 70px;
    font-size: 1.5rem;
    font-weight: bold;

    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
.members-info:hover {
    background-color: #3b28b6;
    transform: scale(1.05);
}

.members-info:active {
    background-color: #4a00e0;
    transform: scale(1);
}